PORT=3004

# Note: Nats can be separated by comma
# NATS_SERVERS="nats://localhost:4222, nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"

DATABASE_URL=
PRISMA_SCHEMA_DISABLE_ADVISORY_LOCK=true


JWT_SECRET=